:root {
  --colorTextPrimary: #ffffff;
  --colorTextSecondary: #d8d8d8;
  --colorTextAdditional: #c7c7c7;
  --colorTextOrder: #959595;
  --colorBackgroundPrimary: #021635;
  --colorBackgroundSecondary: #012d63;
  --colorButton: #8e32c6;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: var(--colorTextPrimary);
  background-color: var(--colorBackgroundPrimary);
}
.container {
  max-width: 1130px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
header {
  padding-top: 15px;
  background-color: var(--colorBackgroundSecondary);
  padding-bottom: 15px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo-foto {
  width: 100px;
  height: 60px;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-link {
  font-weight: 300;
  color: var(--colorTextAdditional);
}
.nav-link:hover {
  font-weight: 400;
  color: var(--colorTextPrimary);
}
.action-link:first-child {
  font-weight: 300;
  color: #dcdcdc;
}
/* -------------------------------------------main------------------------------ */
.hero {
  padding-top: 95px;
  padding-bottom: 185px;
  background-image: url(../images/bghero.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-logo-underlogo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.hero-logo-foto {
  width: 160px;
  height: 120px;
  margin-bottom: -30px;
}
.hero-under-logo {
  font-family: "PT Serif", serif;
  font-size: 48px;
  padding-left: 30px;
}
.hero-title {
  font-family: "Playfair Display", serif;
  font-size: 144px;
  margin-bottom: 7px;
}
.hero-subtitle {
  font-family: "Playfair Display", serif;
  font-size: 72px;
  margin-bottom: 15px;
}
.hero-text {
  margin-bottom: 40px;
  font-size: 18px;
  width: 508px;
  margin-bottom: 60px;
}
.hero-link {
  display: block;
  width: 255px;
  background-color: var(--colorButton);
  padding: 20px 60px;
  border-radius: 10px;
}
.hero-link:hover,
.form-button:hover {
  opacity: 0.7;
}
.benefits {
  padding-top: 105px;
  padding-bottom: 105px;
  background-image: radial-gradient(circle at left top, #8630be, #02163505 30%),
    radial-gradient(circle at right bottom, #01a9ca, #021635 30%);
}
.benefits-list {
  display: flex;
  align-items: center;
  gap: 50px;
  border: 3px solid var(--colorButton);
  padding: 25px 50px;
}
.benefit-item:nth-child(2) {
  padding-left: 95px;
  padding-right: 95px;
  border-left: 1px solid var(--colorTextPrimary);
  border-right: 1px solid var(--colorTextPrimary);
}
.benefit-title {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  text-align: center;
  margin-bottom: 5px;
}
.reviews {
  padding-top: 25px;
  padding-bottom: 110px;
  background-image: radial-gradient(
      circle at right bottom,
      #01a9ca,
      #02163500 25%
    ),
    url(../images/flowers.webp);
  background-repeat: no-repeat;
  background-size: contain, 225px 380px;
  background-position: right bottom, left bottom;
  border-top: 1px solid var(--colorTextPrimary);
  border-bottom: 1px solid var(--colorTextPrimary);
}
.reviews-title {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  text-align: center;
  margin-bottom: 25px;
}
.reviews-list {
  display: flex;
  gap: 95px;
  flex-basis: calc((100% - 190px) / 3);
  padding-right: 80px;
  padding-left: 80px;
}
.reviews-item {
  width: 255px;
  border-radius: 15px;
}
.reviews-item:nth-child(1) {
  box-shadow: 0 14px 0 -5px #7b54b2, 0 30px 0 -13px #533978;
  background: linear-gradient(
    135deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );
}
.reviews-item:nth-child(2) {
  box-shadow: 0 14px 0 -5px #9159b1, 0 30px 0 -13px #61337c;
  background: linear-gradient(
    135deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );
}
.reviews-item:nth-child(3) {
  box-shadow: 0 14px 0 -5px #b95a4c, 0 30px 0 -13px #732f26;
  background: linear-gradient(
    135deg,
    #ffe128 0%,
    #ff9b5c 30.21%,
    #ff8381 63.29%,
    #ff5489 100%
  );
}
.reviews-card {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 50px 15px 30px 15px;
  border-radius: 15px;
  gap: 45px;
}
.card-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}
.card-date {
  font-size: 14px;
  color: var(--colorTextSecondary);
}
.card-contact {
  display: flex;
  gap: 5px;
}
.card-foto {
  width: 31px;
  height: 31px;
}
.contact-namestatus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-name {
  font-size: 14px;
}
.card-status {
  font-size: 12px;
  color: var(--colorTextSecondary);
}
/* -------------------ORDER------------------------- */
.order {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: var(--colorBackgroundSecondary);
  background-image: url(../images/bgorder.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.order-title {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 48px;
  margin-bottom: 33px;
}
.order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.order-inputbutton {
  color: var(--colorTextOrder);
  padding-top: 13px;
  padding-right: 80px;
  padding-bottom: 13px;
  padding-left: 25px;
  border-radius: 50px;
  width: 690px;
  height: 60px;
  background-color: var(--colorTextPrimary);
  display: flex;
  align-items: center;
  gap: 280px;
}
.form-item:first-child {
  width: 205px;
  font-size: 28px;
}
.form-item:nth-child(n + 2) {
  color: var(--colorTextOrder);
  padding-left: 24px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 50px;
  width: 580px;
  height: 50px;
}
.order-button {
  font-size: 28px;
  color: var(--colorTextSecondary);
  background-color: var(--colorTextPrimary);
}
.form-button {
  border-radius: 16px;
  background-color: var(--colorButton);
  padding: 20px 50px;
  color: var(--colorTextPrimary);
}
.footer {
  padding-top: 45px;
  padding-bottom: 50px;
}
.footer-q-a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.footer-questions-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-answers-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.answers-item {
  font-size: 24px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.footer-i-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-info-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.info-item {
  font-size: 18px;
}
.questions-link:hover,
.answers-link:hover {
  opacity: 0.8;
}
.footer-i-logo {
  padding-top: 5px;
  border-top: 1px solid var(--colorTextPrimary);
}
.footer-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-logo-foto {
  width: 108px;
  height: 81px;
  margin-bottom: -17px;
}
.footer-under-logo {
  font-family: "PT Serif", serif;
}
